/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

 / {
    aliases {
        led0 = &led0;
    };
    // chosen {
    //     zephyr,console = &cdc_acm_uart0;
    // };
};
// &zephyr_udc0 {
//     cdc_acm_uart0: cdc_acm_uart0 {
//         compatible = "zephyr,cdc-acm-uart";
//     };
// };